<!doctype html>
<html>
    <head>
        <title>Blogz</title>
        <style> .error {
            color: red;
            font-style: italic;
        }
                .flashes {
            color: red;
            font-style: italic;
        }
        </style>
    </head>
<body>
<nav>
    <a href="/">HOME</a> 
    <a href="/blog">all posts</a>  
    <a href="/newpost">new post</a> |     
    <a href='/login'>login</a>
    <a href='/logout'>logout</a>
</nav>

    {% block content %}
    {% endblock %}

</body>
</html>